.div_titulo {
    background-color: rgb(121, 68, 121);
    margin-right: 0%;
    display: flex;
    padding: 0%;
}
a{
    cursor: pointer;
}
main{
    flex: 1;
}
body {
   
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.div_header ul {
    list-style: none;
    display: flex;
    padding: 0 auto;
    margin: 0 auto;
    margin-left: 20vw;
}

.div_header ul li {
    margin-right: 1rem;

    transition: transform 0.2s;
}

.div_header ul li:last-child {
    margin-right: 0;
}

.div_header li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: clamp(1rem, 1.2rem, 2rem);
    margin-bottom: 2rem;
}

.div_header li a:hover {
    color: rgb(172, 101, 172);
}

.div_header {
  
    background: #111;
    color: #fff;
    display: flex;
    justify-content:center;
    align-items: center;
    box-shadow: 0px 0.05% 0.025% rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

h1 {
    display: flex;
    padding: 0;
}

.div_header .logo {
    height: 3vw;
    margin-left: 1rem;
}

.div_header .search-bar {
    display: flex;
    align-items:center;
    height: 4vw;
    width: 50vw;
    margin-left: 20vw;
    
}

.div_header .search-bar input {
    border: none;
    border-radius: 0.4rem;
    margin-right: 1em;
    font-size: clamp(.875rem, 1rem, 1.125rem);
    background: #333;
    color: #fff;
    transition: background 0.2s;
    width: 15vw;
    height: 2rem;
    
    

}

.div_header .search-bar button {
    background: rgb(121, 68, 121);
    color: #fff;
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s, transform 0.2s;
    height: 2.5rem;
    width: 5vw;
    font-size:clamp(.875rem, 1rem, 1.125rem);
    align-items: center;
}

.div_header .search-bar button:hover {
    background: #ff5a5f;
}

.div_header .search-animation {
    transform: scale(1.1);
}

.rodape-estilizado {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size:  clamp(.875rem, 1rem, 1.125rem);
    position: relative;
    bottom: 0;
    height: auto;
    width: 100%;
}

.Fale_conosco {
    text-decoration: none;
    color: #9f9b9b;
    font-weight: bold;
    font-size:  clamp(.875rem, 1rem, 1.125rem);
    list-style: none;
}
.Fale_conosco :hover{
    color: #ff5a5f;
}

.fale {
    text-decoration: none;
    color: #aba1a1;
}

#content {
    
    padding: 10%;
    text-align: center;
}

.movie {
    display: inline-block;
    margin-right: 4%;
    vertical-align: top;
    border-radius: 0.5%;
    position: relative;
    transition: transform 0.2s;
    height: 100%;
    width: 15%;
    margin-bottom: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
    font-size:  clamp(.875rem, 1rem, 1.125rem);
}

.movie img {
    width: 110%;
    height: auto;
    border-radius: 07%;
}

.movie::after {
    content: "\25B6";
    font-size:  clamp(.875rem, 1rem, 1.125rem);
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-35%, -130%);
    opacity: 0;
    transition: opacity 0.2s;
}

.movie:hover {
    transform: scale(1.1);
}

.movie:hover::after {
    opacity: 1;
}



.main-chat {
    margin-top: 6%;
}

.contact-form {
    width: 50%;
    margin: 3% auto;
    padding: 3% 1.5%;
    background: rgb(91, 73, 91);
    border: 0.05% solid #e1e1e1;
    border-radius: 2.5%;
    height: 30rem;
}

.em-contato {
    font-size:  clamp(.875rem, 1rem, 1.125rem);
    color: #944ab1;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 1.67%;
    text-shadow: 0px 0.033% 0px #fffdfd;
}

.contact-form label {
    float: left;
    clear: left;
    width: 10%;
    text-align: right;
    font-size:  clamp(.875rem, 1rem, 1.125rem);
    color: #000000;
    text-shadow: 0px 0.033% 0px #7c7c7c;
    margin:  0 0 2%;
}

.contact-form input {
    margin: 0 0 2%;
    margin-left: 3rem;
    float: left;
    clear: left;
    width: 30rem;
    height: 8%;
    background: #2d0b2c;
    border-radius: 0.5em;
    font-family: sans-serif;
    font-size:  clamp(.875rem, 1rem, 1.125rem);
    color: #4e244c;
    text-shadow: 0px -0.033% 0px #334f71;
    position: relative;
  
}

.contact-form textarea {
    float: left;
    clear: left;
    width: 60%;
    height: 50%;
    margin-left: 5rem;
    background: #2d0b2c;
    border-radius: 1em;
    font-family: sans-serif;
    font-size:  clamp(.875rem, 1rem, 1.125rem);
    color: #f2f2f2;
    text-transform: uppercase;
    text-shadow: 0px -0.033% 0px #334f71;
    resize: none;
}

.contact-form input:focus,
textarea:focus {
    background: #402258;
}

.contact-form input[type=submit] {
    width: 4.63%;
    height: 1.2%;
    float: right;
    padding: 0.33% 0.5%;
    margin: 0 1.5% 0 0;
    border: 0.05% solid #556f8c;
    cursor: pointer;
}

.contact-form button {
    margin-left: 80%;
    float: left;
    clear: left;
    background: #402258;
    border: none;
    color: #fff;
    padding: 0.33% 0.5%;
    border-radius: 1em;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s, transform 0.2s;
    width: 6rem;
    height: 3rem;
}
.contact-form button:hover{
    background: #ff5a5f;

}

.movie:hover {
    cursor: pointer;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.generos-list {
    text-align: center;
    margin: 1% 0;
}

.generos-list button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 0.5% 1%;
    margin: 0.5%;
    cursor: pointer;
    font-size:  clamp(.875rem, 1rem, 1.125rem);
    transition: background-color 0.3s ease-in-out;
}

.generos-list button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.genero-filmes {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin: 0.5% 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
}

.titulo-genero {
    justify-content: center;
}


.filme-info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2%;
    background-color: #111;
    position: relative;
    justify-content: center;
}

.filme-imagem {
    width: 0.83%;
   
}

.filme-texto {
    text-align: left;
    width: 150%;
    height: 150%;
}

.filme-texto h1 {
    font-size:  clamp(.875rem, 1rem, 1.125rem);
}

.filme-texto p {
    font-size:  clamp(.875rem, 1rem, 1.125rem);
    color: #999;
}

.capa-filme {
    max-height: 50%;
    max-width: 25%;
    margin-right: 0.25%;
    margin-left: 0.25%;
    margin-bottom: 0.25%;
    margin-top: 0.25%;
}

.share-buttons {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.share-button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}
.ZAP{
    width: 4%;
}
.X{
    width: 3%;
}
.Face{
    width: 3%;
}
.Filme-conteiner{
position: relative;
justify-content: center;
text-align: center;
align-items: center;
margin-top: 50%;
}
.filme-texto iframe{
    width: 50%;
    height: 20em;
    margin-left: 15%;
}

