.div_titulo {
    background-color: rgb(121, 68, 121);
    margin-right: 0%;
    display: flex;
    padding: 0%;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.div_header ul {
    list-style: none;
    display: flex;
    padding: 0 auto;
    margin: 0 auto;
    margin-left: 20%;
}

.div_header ul li {
    margin-right: 10%;
    transition: transform 0.2s;
}

.div_header ul li:last-child {
    margin-right: 0;
}

.div_header li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: clamp(.875rem, 1rem, 2rem);
    margin-bottom: 5%;
}

.div_header li a:hover {
    color: rgb(172, 101, 172);
}

.div_header {
    background: #111;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    box-shadow: 0px 0.05% 0.025% rgba(0, 0, 0, 0.5);
    height: auto;
    width: 100vw;
}

h1 {
    display: flex;
    padding: 0;
}

.div_header .logo {
    height: 50%;
}

.div_header .search-bar {
    display: flex;
    align-items:center;
    height: 130%;
    width: 50%;
    
}

.div_header .search-bar input {
    border: none;
    border-radius: 0.4rem;
    margin-right: 2%;
    font-size: clamp(.875rem, 1rem, 1.125rem);
    background: #333;
    color: #fff;
    transition: background 0.2s;
    width: 30%;
    height: 2rem;
    margin-left: 50% ;

}

.div_header .search-bar button {
    background: rgb(121, 68, 121);
    color: #fff;
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s, transform 0.2s;
    height: 2.5rem;
    width: 20%;
    font-size: 60%;
    align-items: center;
}

.div_header .search-bar button:hover {
    background: #ff5a5f;
}

.div_header .search-animation {
    transform: scale(1.1);
}

.rodape-estilizado {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size:  clamp(.875rem, 1rem, 1.125rem);
    position: static;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100vw;
}

.Fale_conosco {
    text-decoration: none;
    color: #9f9b9b;
    font-weight: bold;
    font-size:  clamp(.875rem, 1rem, 1.125rem);
    list-style: none;
}
.Fale_conosco :hover{
    color: #ff5a5f;
}

.fale {
    text-decoration: none;
    color: #aba1a1;
}

#content {
    padding: 10%;
    text-align: center;
}

.movie {
    display: inline-block;
    margin-right: 4%;
    vertical-align: top;
    border-radius: 0.5%;
    position: relative;
    transition: transform 0.2s;
    height: 100%;
    width: 15%;
    margin-bottom: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
    font-size:  clamp(.875rem, 1rem, 1.125rem);
}

.movie img {
    width: 110%;
    height: auto;
    border-radius: 07%;
}

.movie::after {
    content: "\25B6";
    font-size:  clamp(.875rem, 1rem, 1.125rem);
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-35%, -130%);
    opacity: 0;
    transition: opacity 0.2s;
}

.movie:hover {
    transform: scale(1.1);
}

.movie:hover::after {
    opacity: 1;
}

main {
    flex: 1;
}

.main-chat {
    margin-top: 6%;
}

.contact-form {
    width: 50%;
    margin: 3% auto;
    padding: 3% 1.5%;
    background: rgb(91, 73, 91);
    border: 0.05% solid #e1e1e1;
    border-radius: 2.5%;
    height: 20rem;
}

.em-contato {
    font-size:  clamp(.875rem, 1rem, 1.125rem);
    color: #944ab1;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 1.67%;
    text-shadow: 0px 0.033% 0px #fffdfd;
}

.contact-form label {
    float: left;
    clear: left;
    margin: 0.83% 1.67% 0 0;
    width: 2rem;
    text-align: right;
    font-size:  clamp(.875rem, 1rem, 1.125rem);
    color: #000000;
    text-transform: uppercase;
    text-shadow: 0px 0.033% 0px #7c7c7c;
}

.contact-form input {
    width: 10rem;
    height: 1.3rem;
    background: #2d0b2c;
    border-radius: 2.5%;
    font-family: sans-serif;
    font-size:  clamp(.875rem, 1rem, 1.125rem);
    color: #4e244c;
    text-transform: uppercase;
    text-shadow: 0px -0.033% 0px #334f71;
    margin: 3% ;
    position: relative;
}

.contact-form textarea {
    width: 10%;
    height: 4%;
    padding: 0.4% 1% 0 1%;
    margin: 0 0 1.67%;
    background: #2d0b2c;
    border-radius: 2.5%;
    font-family: sans-serif;
    font-size:  clamp(.875rem, 1rem, 1.125rem);
    color: #f2f2f2;
    text-transform: uppercase;
    text-shadow: 0px -0.033% 0px #334f71;
    resize: none;
}

.contact-form input:focus,
textarea:focus {
    background: #402258;
}

.contact-form input[type=submit] {
    width: 4.63%;
    height: 1.2%;
    float: right;
    padding: 0.33% 0.5%;
    margin: 0 1.5% 0 0;
    border: 0.05% solid #556f8c;
    cursor: pointer;
}

.contact-form button {
    background: #402258;
    border: none;
    color: #fff;
    padding: 0.33% 0.5%;
    border-radius: 2.5%;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s, transform 0.2s;
}

.movie:hover {
    cursor: pointer;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.main-genero{
   
}
.generos-list {
    text-align: center;
    margin: 1% 0;
}

.generos-list button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 0.5% 1%;
    margin: 0.5%;
    cursor: pointer;
    font-size:  clamp(.875rem, 1rem, 1.125rem);
    transition: background-color 0.3s ease-in-out;
}

.generos-list button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.genero-filmes {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin: 0.5% 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
}

.titulo-genero {
    justify-content: center;
}


.filme-info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2%;
    background-color: #111;
    border: 0.05% solid #333;
    border-radius: 2.5%;
    position: relative;
    justify-content: center;
    margin-left: 1.75%;
}

.filme-imagem {
    width: 0.83%;
}

.filme-texto {
    padding: 0.167%;
    text-align: left;
}

.filme-texto h1 {
    font-size:  clamp(.875rem, 1rem, 1.125rem);
}

.filme-texto p {
    font-size:  clamp(.875rem, 1rem, 1.125rem);
    color: #999;
}

.capa-filme {
    max-height: 100%;
    max-width: 100%;
    margin-right: 0.25%;
    margin-left: 0.25%;
    margin-bottom: 0.25%;
    margin-top: 0.25%;
}
